.skills{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 0; 
}

.skills-title{
    margin-bottom: 10px;
}

.skills-line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skills-box{
    width: 120px;
    height: 120px;
    text-align: center;
    align-content: center;
    margin: 10px;
}

.skills-img{
    margin-bottom: 5px;
    filter: brightness(0.1)
}

@media (min-width: 680px){

    .skills-title{
        font-size: 20px;
    }
}

@media (min-width: 1240px){

    .skills{
        padding: 30px 90px 0;
    }

    .skills-title{
        font-size: 30px;
        font-weight: 600;
    }

    .skills-box{
    font-size: 18px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    }

}